header, footer, article, section, nav,figure, div, form{
    display: block;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}
body{
    height:100%;
}
input, textarea,keygen, select,button{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing:normal;
    text-transform: none;
    text-indent:0;
    text-shadow: none;
    display: inline-block;
    box-sizing: border-box;

}

a{
    color:#5D4037;
    outline:none;
}
li{
    list-style:none;
}
.wrapper{
    overflow:auto;
     min-height: 100%;
    width: 100%;
    position: relative;
}

.w1{
    width: 100%;
    overflow: hidden;
    padding-bottom: 92px;
}
.left{
    float:left;
}
.center{
    padding:8px 0 6px 6px;
    max-width: 62px;
}

#header{
    width: 100%;
    position: relative;
    height: 104px;
    background: #795548;
    color:#fff;
    padding: 6px 0 15px;
    z-index:200;

}

#header .line{
    position: absolute;
    left:0;
    right:0;
    top: 0px;
    height: 6px;
    background: #5D4037;
}

#header .header-holder{
    width: 941px;
    margin: auto;
}
#header .frame {
    float:right;
    width:705px;
}
.search-frame{
    float: left;
    width: 400px;
    height:28px;
    padding:0 0 0 8px;
    position: relative;
}
.search-label{
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    width: 14px;
    height: 15px;
    margin:7px 6px 0 0;
    background: url("");
}

#header .col01 {
    float: left;
    width: 472px;
}
#header .col02 {
    float: right;
    width: 225px;
}
.mini-menu {
    float: right;
    width: 95px;
}
.mini-menu .link {
    display: block;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    color: #fff;
    background: #5D4037;
    text-shadow: rgba(0,0,0,.75) 1px 1px 1px;
    text-transform: uppercase;
}
.header-block{
    overflow:hidden;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 10px;
    line-height: 15px;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    padding:4px 0 33px;
    text-shadow: 1px 1px 1px #795548;
}

.header-block .link{
    float: right;
}
.header-block .link a:hover{
    color: #FFF;
    font-weight:normal;
    text-shadow: 1px 1px 1px #a44;
}

.header-block a{
    color: #eeeeee;
}
.search-block{
    width: 400px;
    height:29px;
    position: relative;
    background: #fff;
    box-shadow: rgba(0,0,0,.35) 1px 1px 4px inset;
    border-radius:6px;

}
.search-block input[type = "text"]{
   /* padding:9px 0 4px;*/
    float: left;
    width: 286px;
    border: 0;
    background: none;
    color: #333;
    font: 13px/16px ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 7px 0 6px;
}
.search-block input[type="text"] {
    padding: 1px 0 4px;
}
.search-block input[type = "submit"]{
    float: right;
    width: 69px;
    height: 29px;
    background: #f6f6f6;
    color: #717171;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    font: 16px/20px ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    border: 1px solid #dedede;
}

.logo{
    float: left;
    background-size: 200px 80px;
    width: 200px;
    margin: 12px 0 0;
    height: 80px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    display:inline-block;
}
.logo a{
    display: block;
    height:100%;
}

#nav{
    width:100%;
    overflow: hidden;
    background: #f3f3f3;
    background-image: linear-gradient(rgb(243, 243, 243) 0%, rgb(236, 236, 236) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow :rgba(0,0,0,.3) 0 1px;
}

.navigation{
    overflow: hidden;
    padding:10px 0 8px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 18px;
    font-family: ProximaNovaRgBold, Arial, Helvetica, sans-serif;
}
.navigation li:first-child{
    background: none;
}
.navigation li{
    display:inline;
    padding:0 9px 0 16px;
}
.navigation a{
    color:#303030;
}
.navigation a:hover{
    text-decoration:none;
    color: #5d4037;;
}
#search{
    margin: 7px 6px 0 0;
}


