header, footer, article, section, nav,figure, div, form, p{
    display: block;
}

ul{
    display: block;
    list-style-type: disc;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, select, p, blockquote, th, td {
    margin: 0;
    padding: 0;
    outline: none;
}

h1, h2, h3, h4, h5{
    font-weight:normal;
}

body {
    height: 100%;
    color: #303030;
    font: 14px/17px ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    min-width: 1000px;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.08);
}

input, textarea,keygen, select,button{
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing:normal;
    text-transform: none;
    text-indent:0;
    text-shadow: none;
    display: inline-block;
    box-sizing: border-box;
}

a{
    text-decoration: none !important;
    color:#5D4037;
    outline:none;
}
li{
    list-style:none;
}
.jpContenedorFull{
    overflow:auto;
     min-height: 100%;
    width: 100%;
    position: relative;
}

.jpContenedor{
    width: 100%;
    overflow: hidden;
    padding-bottom: 92px;
}
.left{
    float:left;
}
.center{
    padding:8px 0 6px 6px;
    max-width: 62px;
}

#jpHeadFull{
    width: 100%;
        position: relative;
    height: 104px;
    background: #795548;
    color:#fff;
    padding: 6px 0 15px;
    z-index:200;

}

#jpHeadFull .line{
    position: absolute;
    left:0;
    right:0;
    top: 0px;
    height: 6px;
    background: #5D4037;
}

#jpHeadFull .header-holder{
    width: 941px;
    margin: auto;
}
#jpHeadFull .frame {
    float:right;
    width:705px;
}
.search-frame{
    float: left;
    width: 400px;
    height:28px;
    padding:0 0 0 8px;
    position: relative;
}
.search-label{
    float: left;
    text-indent: -9999px;
    overflow: hidden;
    width: 14px;
    height: 15px;
    margin:7px 6px 0 0;
    background: url("");
}

#jpHeadFull .col01 {
    float: left;
    width: 472px;
}
#jpHeadFull .col02 {
    float: right;
    width: 225px;
}
.mini-menu {
    float: right;
    width: 95px;
}
.mini-menu .link {
    display: block;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    color: #fff;
    background: #5D4037;
    text-shadow: rgba(0,0,0,.75) 1px 1px 1px;
    text-transform: uppercase;
}
.header-block{
    overflow:hidden;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 10px;
    line-height: 15px;
    font-family: Arial,Helvetica,sans-serif;
    color: #fff;
    padding:4px 0 33px;
    text-shadow: 1px 1px 1px #795548;
}

.header-block .link{
    float: right;
}
.header-block .link a:hover{
    color: #FFF;
    font-weight:normal;
    text-shadow: 1px 1px 1px #a44;
}

.header-block a{
    color: #eeeeee;
}
.search-block{
    width: 400px;
    height:29px;
    position: relative;
    background: #fff;
    box-shadow: rgba(0,0,0,.35) 1px 1px 4px inset;
    border-radius:6px;

}
.search-block input[type = "text"]{
   /* padding:9px 0 4px;*/
    float: left;
    width: 286px;
    border: 0;
    background: none;
    color: #333;
    font: 13px/16px ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 7px 0 6px;
}
.search-block input[type="text"] {
    padding: 1px 0 4px;
}
.search-block input[type = "submit"]{
    float: right;
    width: 69px;
    height: 29px;
    background: #f6f6f6;
    color: #717171;
    margin: 0;
    padding: 0;
    -webkit-border-radius: 0 6px 6px 0;
    -moz-border-radius: 0 6px 6px 0;
    border-radius: 0 6px 6px 0;
    font: 16px/20px ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    border: 1px solid #dedede;
}

.logo{
    float: left;
    background-size: 200px 80px;
    width: 200px;
    margin: 12px 0 0;
    height: 80px;
    overflow: hidden;
    text-indent: -9999px;
    background-repeat: no-repeat;
    display:inline-block;
}
.logo a{
    display: block;
    height:100%;
}

#nav{
    width:100%;
    overflow: hidden;
    background: #f3f3f3;
    background-image: linear-gradient(rgb(243, 243, 243) 0%, rgb(236, 236, 236) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    box-shadow :rgba(0,0,0,.3) 0 1px;
}

.navigation{
    overflow: hidden;
    padding:10px 0 8px;
    text-align: center;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 16px;
    line-height: 18px;
    font-family: ProximaNovaRgBold, Arial, Helvetica, sans-serif;
}
.navigation li:first-child{
    background: none;
}
.navigation li{
    display:inline;
    padding:0 9px 0 16px;
    text-underline: none;
}
.navigation a{
    color:#303030;
}

#search{
    margin: 7px 6px 0 0;
}
.brown{
    background-color: red;
    font-weight: bold;
}

#main{
    width: 941px;
    margin:0 auto;
    padding:50px 0 30px;
    border-bottom:1px solid #e8e8e8;

}
.threecolumns{
    width: 100%;
}
.twocolumns{
    float: left;
    width:601px;
}
#content{
    float: right;
    width: 401px;
    background-color: red;
}
.aside{
    float: left;
    width:161px;
    background-color: blue;
}

#sidebar{
    float: right;
    width: 301px;
    margin-top: 3px;
    background-color: deeppink;
}
#footer {
    position: relative;
    overflow: hidden;
    width: 871px;
    padding: 19px 69px 0 0;
    font-size: 15px;
    margin: -92px auto 0;
    height: 72px;
    border-top: 1px solid #d6d6d6;
}

#footer .holder{
    overflow: hidden;
    margin-bottom: 18px;
}

#footer .holder li{
    display: inline;
    background: url("/img/rayita.png") no-repeat 0 1px;
    padding: 0 1px 0 5px;
}

 a:hover{
    color: #EF6C00;
}
 a:active{
     color:#EF6C00;
 }


#footer li:first-child {
    background: none;
}

.by{
    float: right;
    font-size: 12px;
    color:#424242;
}

.footnav{
    float: right;
    margin: 0 -1px 0 0 ;
}
/****************************************AcercaD********************************************/

.jpAboutShit-holder h4 {
    border-bottom: 1px solid #ECECEC;
    font-family: ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-bottom: 27px;
    padding-bottom: 10px;
}
.jpAboutShit-holder h5 {
    font-family: ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.jpAboutShit-holder > p {
    color: #8C8C8C;
    font: 14px/20px ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    margin-bottom: 36px;
}

/**********************************Contacto*******************************************************/

#frm-contacto {
    width: 700px;
}
#frm-contacto h4 {
    margin-bottom: 16px;
}

#frm-contacto p {
    color: #9b9b9b;
    margin-bottom: 9px;
    line-height: 20px;
}

.jpFormulario h4 {
    font-family: ProximaNovaRgRegular, Arial, Helvetica, sans-serif;
    font-size: 22px;
    border-bottom: 1px solid #ececec;
    width: 700px;
    padding-bottom: 10px;
    margin-bottom: 27px;
}

#frm-contacto .comments textarea {
    width: 542px;
    height: 156px;
    margin-bottom: 8px;
}

.jpFormulario textarea {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) inset;
    font: 14px/16px ProximaNovaRgRegular,Arial,Helvetica,sans-serif;
    padding: 5px 8px;
    width: 243px;
}

.jpFormulario li {
    margin-bottom: 10px;
    }
.error-form .msg_field {
    display: block;
    margin: 3px 0;
    min-height: 20px;
}

.jpFormulario input[type="text"]{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) inset;
    font: 14px/16px ProximaNovaRgRegular,Arial,Helvetica,sans-serif;
    padding: 3px 8px;
    width: 243px;
    height: 23px;
}

.jpFormulario input[type="password"], .jpFormulario input[type="email"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #C6C6C6;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25) inset;
    font: 14px/16px ProximaNovaRgRegular,Arial,Helvetica,sans-serif;
    padding: 3px 8px;
    width: 243px;
    height: 23px;
}
.jpFormulario label {
    font-size: 14px;
    font-family: ProximaNovaRgBold,Arial,Helvetica,sans-serif;
    margin-bottom: 6px;
    display: block;
}

/*******************************************************************************************************************************/